$desktop: 768px;
$monitor: 1192px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin monitor {
    @media (min-width: #{$monitor}) {
        @content;
    }
}

#about {
    margin-top: 11vw;

    @include desktop {
        margin-top: 6vw;
    }

    #statement {
        padding: 0 5%;
        font-weight: 300;
        #row {
            padding: 0 6%;
            @include desktop {
                display: flex;
                .col:nth-child(1) {
                    margin-right: 4vw;
                }
                .col {
                    font-size: 1.5vw;
                }
            }
        }

        #prologue {
            #focus {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 2.5rem;
                float: left;
                line-height: 60px;
                padding-top: 4px;
                padding-right: 8px;
                padding-left: 3px;
                @include desktop {
                    font-size: 5vw;
                    padding-right: 14px;
                }

                @include monitor {
                    padding-top: 14px;
                }
            }
        }
    }
}

.card-image {
    width: 90%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 2rem;
    position: relative;
    z-index: 5;
    vertical-align: baseline;
    left: 2.25vw;
    top: 2.25vw;
    @include desktop {
        margin-right: 5vw;
        width: 60%;
    }
}

#core-values {
    padding: 6% 9%;
    @include desktop {
        padding: 6% 10%;
        margin-top: 5vw;
    }
    .card {
        @include desktop {
            display: flex;
            margin-bottom: 12vw;
            align-items: center;

            .text {
                width: 75%;
            }
        }
    }
    .card:nth-child(2) {
        @include desktop {
            flex-direction: row-reverse;
            .card-image {
                margin-right: 0;
                margin-left: 5vw;
                left: 0;
            }
        }
    }

    .card:nth-child(3) {
        @include desktop {
            margin-bottom: 0;
        }
    }

}

.card {
    position: relative;
    hr {
        width: 70px;
        border: 2px solid #C656D8;
        margin-left: 0;
    }
    margin: 6rem 0;
}

.card::after {
    background: #C656D8;
    border-radius: 5px;
    content: "";
    display: block;
    max-width: 56vw;
    max-height: 44vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 85%;
    z-index: 1;

    @include desktop {
        max-width: 28vw;
        max-height: 29.75vw;
    }
}

.card:nth-child(2)::after {
    left: 25vw;

    @include desktop {
        left: 53.5vw;
    }
}

.value-desc {
    font-weight: 300;
    @include desktop {
        font-size: 1.5vw;
    }
}

.value-title {
    text-transform: capitalize;
    font-size: 1.25rem;
    @include desktop {
        font-size: 1.625vw;
    }
}
