$desktop: 800px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

#about {
    #statement {
        padding: 0 5%;
        font-weight: 300;
        #prologue {
            #focus {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 2.5rem;
                float: left;
                line-height: 60px;
                padding-top: 4px;
                padding-right: 8px;
                padding-left: 3px;
            }
        }
    }
}

#core-values {
    padding: 6% 5%;
    //position: relative;
}

.card-image {
    width: 90%;
    height: auto;
    border-radius: 5px;
    margin-bottom: .5rem;
    position: relative;
    z-index: 5;
    vertical-align: baseline;
}

.card {
    position: relative;
    hr {
        width: 70px;
        border: 2px solid #C656D8;
        margin-left: 0;
    }
    margin: 4rem 0;
}

.card-image:before {
    background: #C656D8;
    border-radius: 5px;
    content: "";
    display: block;
    max-width: 476px;
    max-height: 476px;
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 85%;
    z-index: 1;
}

.value-desc {
    font-weight: 300;
}

.value-title {
    text-transform: capitalize;
    font-size: 1.25rem;
}
