$desktop: 768px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.landing-image {
    width: 96%;
    height: auto;
    margin: 0 2vw;
    transition: all 1s ease-in-out;
}

header {
    .landing-image {
        margin-bottom: 2vw;
    }

    #slogan {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1vw 0 0 0;
        padding: 0 10px;

        .idea {
            display: inline-block;
        }

        .idea span svg{
            fill: #27A1DA;
        }

        .idea span svg:hover {
            transform: scale(1.1);
        }

        .text {
            margin-left: 2vw;
            color: #27A1DA;
            font-size: 4.5vw;
            font-weight: bold;
        }
    }
}
