$desktop: 800px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.slide-container {
    width: 98%;
    margin: auto;

    #vision {
        position: static;
        color: #1B2531;
        text-align: center;
        background-color: #ECECEC;
        padding: 2vw;
        width: 80%;
        margin: auto;

        @include desktop {
            position: absolute;
            left: 27vw;
            top: 21vw;
            z-index: 5;
            font-size: 1.5vw;
            width: 40%;
            background: rgba(0, 0, 0, 0.38);
            border-radius: 5px;
            color: white;
        }
    }
}
