$colors: (
    // content
        mirage64: rgba(27, 37, 49, 0.64),
    // footer
        nobel: #B7B7B7
);

@function color($name) {
    @return map_get($colors, $name);
}

$desktop: 800px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.map-image {
    width: 100%;
    height: auto;
    margin: 0 4% 2rem;
    @include desktop {
        width: 93%;
    }
}

#offices {
    padding: 6% 5%;
    font-size: 1.125rem;

    @include desktop {
        font-size: 1.5vw;
        #find-us .lead {
            text-align: center;
        }
        #row {
            display: flex;
            justify-content: center;
        }

        #location {
            margin-right: 15vw;
        }
    }
}

.lead {
    font-weight: 300;
}

.address, .lead {
    display: block;
    margin: .5rem 0;
    @include desktop {
        margin: 1rem 0;
    }
}

.list {
    margin-bottom: 2rem;
}

#contact-list {
    display: flex;
    flex-direction: column;
}
.icon-text {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    align-items: center;
}
.footer-icon {
    margin-right: 10px;
}

#social {
    display: flex;
    justify-content: space-evenly;
    @include desktop {
        justify-content: center;
    }
}

footer {
    #darken {
        background: color(nobel);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        padding: 6vw 2vw;

        a {
            font-size: 4.5vw;
        }

        .copyright {
            color: color(mirage64);
            font-weight: 300;
            margin-top: 4vw;
            font-size: 3.5vw;
        }

        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 1vw;

            a {
                font-size: 1.125rem;
                margin-right: 25px;
            }

            .copyright {
                font-size: 1.125rem;
                margin-top: 0;
            }
        }
    }
}
