$desktop: 768px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

#team {
    padding: 10% 5%;
}

#team .col .row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
        display: flex;
        justify-content: center;
        width: 70%;
    }
}

#team .col .row div:first-child {
    @include desktop {
        margin-right: 13vw;
    }
}

#team .col .row:nth-child(2) .circle-card {
    @include desktop {
        margin-bottom: 0;
    }
}

.team-image {
    width: 70%;
    height: auto;
    margin-bottom: .5rem;
    @include desktop {
        width: 75%;
        margin-bottom: 1rem;
    }
}

.circle-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;

    @include desktop {
        margin-bottom: 6rem;
    }

    .name {
        text-transform: capitalize;
        font-size: 1.125rem;
        @include desktop {
            font-size: 1.5vw;
        }
    }
    .title {
        font-weight: 300;
        @include desktop {
            font-size: 1.25vw;
        }
    }
}
